.about .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 500px;
}

.about h1 {
  margin: 0;
  color: rgb(131, 17, 17);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 20px;
}

.about p {
  text-align: center;
  color: rgb(10, 10, 10);
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 400;
  font-style: italic;
  font-family: fantasy;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .about .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .about .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .about .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .about .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .about .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
