<h1>Bookings</h1>

<div class="container-form" >
      <div class="form">
        <%= simple_form_for @booking do |f| %>
          <%= f.input :state, collection: ["Pending", "Approved"], label: "Booking Status(Please Select)" %>
          <%= f.submit "Submit" , class: "btn btn-primary btn-blue" %>
        <% end %>
      </div>
    </div>
