<section class="section-products">
		<div class="container">
				<div class="row justify-content-center text-center">
						<div class="col-md-8 col-lg-6">
								<div class="header">
										<h2>Featured Products</h2>
								</div>
						</div>
				</div>
				<div class="row">
        <%# Per item %>
            <% @items.each do |item| %>
              <div class="col-md-6 col-lg-4 col-xl-3">
                  <div class="single-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path item.photo.key, height: 300, width: 500, crop: :fill %>'), background-size: cover">
                      <div class="part-1">
                          <ul>
                              <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                              <li><a href="#"><i class="fas fa-heart"></i></a></li>
                              <li><a href="#"><i class="fas fa-expand"></i></a></li>
                          </ul>
                      </div>
                      <div class="part-2">
                          <h3 class="product-title"><%= item.name %></h3>
                          <h4 class="product-price">Rs <%= item.price %></h4>
                      </div>
                      <%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill %>
                  </div>
              </div>
            <% end %>
				</div>
		</div>
</section>
