ul,
li {
  list-style: none;
}

.footer {
  padding: 10px 0;
  background-color: $black;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links li a {
  margin-right: 10px;
  margin-bottom: 0;
  color: $white;
}

.footer-links li:last-child {
  margin-right: 0;
}
