.navbar-lewagon {
  justify-content: space-between;
  background: #e3f2fd;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

// .navbar-nav {
//   display: flex;
//   justify-content: space-between;
// }

.nav-item button {
  margin-right: 10px;
}
